
netMHCpan_out/

epitope_dist/

out.csv

outtest.csv

*.csv

netMHCpan_out copy/

*.png

snakemake-tutorial/.snakemake/log/2022-06-12T164904.081499.snakemake.log

snakemake-tutorial/

snakemake/data/
snakemake/Tepi_lanscape_env

test2/

test/

Cluster/
